body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
}

.container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:white;
  padding:40px;
  width:400px;
  text-align:center;
  border-radius:12px;
  box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.profile-img{
  width:120px;
  height:120px;
  border-radius:50%;
  margin-bottom:15px;
}

.btn{
  margin-top:20px;
  padding:10px 20px;
  border:none;
  background:#4facfe;
  color:white;
  font-size:16px;
  border-radius:6px;
  cursor:pointer;
}

.btn:hover{
  background:#2f80ed;
}